body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3498db, #2c3e50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Set a semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Set a semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s; /* Add a transform animation for hover effect */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.container:hover .card {
    transform: scale(1.05); /* Scale the card slightly on hover */
}
